/* See vars in App.css */

header {
  position: fixed;
  background-color: var(--box-background-color);
  top: 0;
  width: 100%;
  height: var(--header-height);
  box-shadow: 1px 1px 0 var(--shadow-color);
}

header div {
  max-width: var(--box-width);
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header div button {
  width: var(--button-with);
  margin: auto;
  background-color: transparent;
  padding: 0.4rem;
  border: 1px solid var(--button-border-color);
  box-shadow: 1px 1px 0 var(--shadow-color);
  cursor: pointer;
}

.JokeList {
  margin-top: calc(var(--header-height) + var(--box-margin));
  list-style: none;
  padding: 0;
}

.Loader {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Loader::before {
  font-family: var(--icons-font);
  content: var(--loader-icon);
  font-size: 7rem;
  animation: spin infinite 2s linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
