/* See vars in App.css */

.Poll {
  margin-bottom: 5px;
  padding-bottom: 5px;
  display: flex;
  justify-content: flex-end;
}

.Poll span {
  width: 1.6rem;
  text-align: center;
  font-size: 0.8rem;
}

.Poll button {
  font-family: var(--icons-font);
  background-color: transparent;
  border: 0;
  padding: 0.1rem;
  cursor: pointer;
}

.Poll button:hover {
  transform: scale(1.1);
}

.Poll button[name="up"]::after {
  content: var(--vote-up-icon);
}

.Poll button[name="down"]::after {
  content: var(--vote-down-icon);
}

.positive {
  color: var(--rating-positive-color);
}

.negative {
  color: var(--rating-negative-color);
}
